<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script>
    let stompClient = null;
    let isConnected = false;
    let chatRoomId = null;
    let senderId = null;
    let receiverId = null;

    // chatRoomId, senderNickname, receiverNickname 입력 후, Connect 클릭 시 함수
    function connect() {
      chatRoomId = document.getElementById('chatRoomId').value;
      senderNickname = document.getElementById('senderNickname').value;
      receiverNickname = document.getElementById('receiverNickname').value;

      // 1. 채팅방 ID 유효성 검증 API 호출
      fetch(`/api/v2/chats/validate/${chatRoomId}`)
      .then(response => response.json())
      .then(data => {
        if(!data.data.valid) {
          // 1-1. 채팅방 ID 유효성 검증 API 호출 - 채팅방 id가 유효하지 않을 때 오류 표시
          alert('존재하지 않은 채팅방 ID 입니다. 다시 확인해주세요.');
          console.log("존재하지 않은 채팅방 ID 입니다. 다시 확인해주세요.");
        } else {
          // 1-2. 채팅방 ID 유효성 검증 API 호출 - 성공
          console.log("채팅방 ID 유효성 검증 성공");

          // 2. 채팅방 메시지 발송자 닉네임 추출 및 유효성 검증 API 호출
          fetch(`/api/v2/chats/validate/nickname/${senderNickname}`)
          .then(response => response.json())
          .then(data => {
            if (data.data.userId != null) {
              // 2-1. 채팅방 메시지 발송자 닉네임 추출 및 유효성 검증 API 호출 - 성공
              console.log("senderNickname 유효성 검증 성공");
              senderId = data.data.userId;
              console.log("[발송자 ID] senderId=" + senderId);
              console.log("[발송자 닉네임] senderNickname=" + senderNickname);

              // 3. 채팅방에 해당하는 발송자 닉네임으로 userId 유효성 검증 API 호출
              fetch(`/api/v2/chats/validate/${chatRoomId}/${senderId}`)
              .then(response => response.json())
              .then(data => {
                if(!data.data.valid) {
                  // 3-1. 채팅방에 해당하는 발송자 닉네임으로 userId 유효성 검증 API 호출 - chatRoomId의 userId로 유효하지 않을 때 오류 표시
                  console.log("해당 채팅방의 사용자가 아닙니다. 다시 확인해주세요.");
                  alert('해당 채팅방의 사용자가 아닙니다. 다시 확인해주세요.');
                } else {
                  // 3-2. 채팅방에 해당하는 발송자 닉네임으로 userId 유효성 검증 API 호출 - 성공
                  console.log("채팅방 ID에 해당하는 senderId 유효성 검증 성공");

                  // 4. 채팅방 메시지 수신자 닉네임 추출 및 userId 유효성 검증 API 호출
                  fetch(`/api/v2/chats/validate/nickname/${receiverNickname}`)
                  .then(response => response.json())
                  .then(data => {
                    if (data.data.userId != null) {
                      // 4-1. 채팅방 메시지 수신자 닉네임 추출 및 userId 유효성 검증 API 호출 - 성공
                      console.log("receiverNickname 유효성 검증 성공");
                      receiverId = data.data.userId;
                      console.log("[수신자 ID] receiverId=" + receiverId);
                      console.log("[수신자 닉네임] receiverNickname=" + receiverNickname);

                      // 5. 채팅방에 해당하는 수신자 닉네임으로 userId 유효성 검증 API 호출
                      fetch(`/api/v2/chats/validate/${chatRoomId}/${receiverId}`)
                      .then(response => response.json())
                      .then(data => {
                        if(!data.data.valid) {
                          // 5-1. 채팅방에 해당하는 수신자 닉네임으로 userId 유효성 검증 API 호출 - chatRoomId의 userId로 유효하지 않을 때 오류 표시
                          console.log("해당 채팅방의 사용자가 아닙니다. 다시 확인해주세요.");
                          alert('해당 채팅방의 사용자가 아닙니다. 다시 확인해주세요.');
                        } else {
                          // 5-2. 채팅방에 해당하는 수신자 닉네임으로 userId 유효성 검증 API 호출 - 성공
                          console.log("채팅방 ID에 해당하는 receiverId 유효성 검증 성공");

                          // 6. 웹소켓 연결 시, 쿼리 파리미터로 발송자/수신자의 id,nickname 전달
                          const socket = new SockJS(
                              `/v2/ws-stomp?senderId=${senderId}&senderNickname=${senderNickname}
                              &receiverId=${receiverId}&receiverNickname=${receiverNickname}`);
                          stompClient = Stomp.over(socket);
                          stompClient.connect({}, function (frame) {
                            // 6-1. 웹소켓 연결 - 성공
                            isConnected = true;
                            console.log('소켓 Connected: ' + frame);

                            // 7. connect 메시징매핑 엔드포인트로 메시지 전송하여 Redis 저장
                            stompClient.send(
                                `/app/v2/chat/connect/${chatRoomId}/${senderId}`,
                                { 'senderNickname': senderNickname, 'receiverNickname': receiverNickname }
                            );

                            // 7-1. connect 메시징매핑 서비스에서 오류 메시지 전송하는 엔드포인트 구독
                            stompClient.subscribe(`/topic/v2/chat/errors/${senderId}`, function (message) {
                              alert(message.body);
                              isConnected = false;
                              console.log("소켓 Disconnected");
                              stompClient.disconnect();
                            });

                            // 8. 채팅방 재접속 시, MongoDB 메시지 조회 API 호출
                            fetch(`/api/v2/chats/message/page/${chatRoomId}/${senderId}`)
                            .then(response => response.json())
                            .then(messages => {
                              if(messages) {
                                // 8-1. 채팅방 재접속 시, MongoDB 메시지 조회 API 호출 - 성공
                                messages.content.forEach(message => {
                                  showMessage(message);
                                });
                              } else {
                                // 8-2. 채팅방 재접속 시, MongoDB 메시지 조회 API 호출 - 이전 메시지 내역이 없음
                                console.error("서버 응답 값이 없습니다.");
                                alert("서버 응답이 비어있어 이전 메시지 불러오기 실패했습니다.");
                              }
                            })
                            .catch(error => {
                              // 8-3. 채팅방 재접속 시, MongoDB 메시지 조회 API 호출 - 실패
                              console.error("MongoDB 메시지 조회 실패: " + error);
                              alert("MongoDB 메시지 조회 실패로 이전 메시지 불러오기 실패했습니다.");
                            });

                            // 9. 처음 채팅방 입장 메시지 구독
                            stompClient.subscribe(`/topic/v2/chat/enter/${chatRoomId}`, function (message) {
                              showMessage(JSON.parse(message.body));
                            });

                            // 10. 실시간 채팅 메시지 전송 구독
                            stompClient.subscribe(`/topic/v2/chat/${chatRoomId}`, function (message) {
                              showMessage(JSON.parse(message.body));
                            });
                          }, function (error) {
                            // 6-2. 웹소켓 연결 - 실패
                            console.error("소켓 Connection error: ", error);
                            alert('채팅방 연결 종료 및 실패하였습니다. 서버 오류를 확인해주세요.');
                          });
                        }
                      })
                      .catch(error => {
                        // 5-3. 채팅방에 해당하는 수신자 닉네임으로 userId 유효성 검증 API 호출 - 실패
                        console.error("receiverId 유효성 검증 API 호출 실패: " + error);
                        alert('채팅방의 사용자 ID 유효성 검증 실패. 서버 오류를 확인해주세요.');
                      });
                    } else {
                      // 4-2. 채팅방 메시지 수신자 닉네임 추출 및 userId 유효성 검증 API 호출 - receiverNickname이 채팅방 참여자로 유효하지 않을 때 오류 표시
                      console.log("receiverNickname(" + receiverNickname + ")이 유효하지 않아 receiverId가 null 입니다. ");
                      alert('받는 사용자 닉네임(' + receiverNickname + ')이 유효하지 않습니다. 다시 확인해주세요.');
                    }
                  })
                  .catch(error => {
                    // 4-3. 채팅방 메시지 수신자 닉네임 추출 및 userId 유효성 검증 API 호출 - 실패
                    console.error("수신자 닉네임 유효성 API 호출 실패: " + error);
                    alert('수신자 닉네임 유효성 검증 실패. 서버 오류를 확인해주세요.');
                  });
                }
              })
              .catch(error => {
                // 3-3. 채팅방에 해당하는 발송자 닉네임으로 userId 유효성 검증 API 호출 - 실패
                console.error("senderId 유효성 검증 API 호출 실패: " + error);
                alert('채팅방의 사용자 ID 유효성 검증 실패. 서버 오류를 확인해주세요.');
              });
            }  else {
              // 2-2. 채팅방 메시지 발송자 닉네임 추출 및 유효성 검증 API 호출 - senderNickname 이 채팅방 참여자로 유효하지 않을 때 오류 표시
              console.log("senderNickname(" + senderNickname + ")이 유효하지 않아 senderId가 null 입니다. ");
              alert('발송자 닉네임(' + senderNickname + ')이 유효하지 않습니다. 다시 확인해주세요.');
            }
          })
          .catch(error => {
            // 2-3. 채팅방 메시지 발송자 닉네임 추출 및 유효성 검증 API 호출 - 실패
            console.error("수신자 닉네임 유효성 API 호출 실패: " + error);
            alert('수신자 닉네임 유효성 검증 실패. 서버 오류를 확인해주세요.');
          });
        }
      })
      .catch(error => {
        // 1-3. 채팅방 ID 유효성 검증 API 호출 - 실패
        console.error("채팅방 ID 유효성 API 호출 실패: " + error);
        alert('채팅방 ID 유효성 검증 실패. 서버 오류를 확인해주세요.');
      });
    }

    // 채팅방 연결을 해지하기 위해 Disconnect 클릭 시 함수
    function disconnect() {
      if (stompClient !== null) {
        // 연결 중단 시, redis 삭제 API 호출
        fetch(`/api/v2/chats/redis/delete/${chatRoomId}/${senderId}`)
        .then(response => response.json())
        .then(data => {
          if(data.data) {
            // Redis 캐시 삭제 성공
            console.log("소켓 Disconnected");
          } else {
            console.log(chatRoomId + ":" + senderId + "로 저장된 cacheKey가 없습니다.");
          }
          isConnected = false;
          alert('채팅방 연결 종료하였습니다. 다시 연결해주세요!');
          stompClient.disconnect();
        })
        .catch(error => {
          console.error("API 호출 실패: " + error);
          alert('Redis 캐시 삭제 실패');
        });
      }
    }

    // message 입력 후, Send 클릭 시 메시지 전송을 위한 함수
    function sendMessage() {
      // 웹소켓 연결 시에만 메시지 전송 가능
      if(isConnected) {
        const message = document.getElementById('message').value;

        // 10. 실시간 채팅 메시지 전송
        stompClient.send(
            `/app/v2/chat/${chatRoomId}`, // messageMapping 경로
            {}, // header에 저장한 data
            JSON.stringify({ // messageMapping 경로에서 사용할 dto 필드
              'chatRoomId': chatRoomId,
              'senderNickname': senderNickname,
              'receiverId' : receiverId,
              'receiverNickname' : receiverNickname,
              'messageContent': message
            })
        );
        // 메시지 전송 후, 입력 필드 초기화
        document.getElementById('message').value = '';
      } else {
        // 웹소켓 연결 불가로 채팅 메시지 전송 - 실패
        console.log("웹소켓 연결이 중단되어 메시지 전송이 불가");
        alert("웹소켓 연결이 중단되어 메시지 전송이 불가합니다. ");
      }
    }

    // 실시간 채팅 메시지 표시하는 함수
    function showMessage(message) {
      const messages = document.getElementById('messages');
      const p = document.createElement('p');
      if(message.connectionType === "ENTER") {
        // 첫 입장 메시지 형식
        p.textContent = message.messageContent;
      } else if(message.connectionType === "CHAT") {
        // 채팅 메시지 형식
        p.textContent = message.senderNickname + ': ' + message.messageContent
            + ' - ' + message.sentAt;
      } else {
        // TODO: 퇴장 시 메시지 처리 예정(message.connectionType === "EXIT")
        p.textContent = message.messageContent;
      }
      messages.appendChild(p);
    }
  </script>
</head>
<body>
<div>
  <label>ChatRoom ID:</label>
  <input type="text" id="chatRoomId" value="f38106f7-8fe7-4351-8eaf-199525b67e9a" />
</div>
<div>
  <label>senderNickname(발송자 닉네임) :</label>
  <input type="text" id="senderNickname" value="testnick" />
</div>
<div>
  <label>Receiver Nickname(수신자 닉네임) :</label>
  <input type="text" id="receiverNickname" value="testnick22" />
</div>
<div>
  <label>Message:</label>
  <input type="text" id="message" />
</div>
<button onclick="connect()">Connect</button>
<button onclick="disconnect()">Disconnect</button>
<button onclick="sendMessage()">Send</button>
<div id="messages"></div>
</body>
</html>