<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script>
    let stompClient = null;
    let isConnected = false;
    let chatRoomId = null;
    let receiverId = null;

    function connect() {
      chatRoomId = document.getElementById('chatRoomId').value;
      senderId = parseInt(document.getElementById('senderId').value);
      receiverNickname = document.getElementById('receiverNickname').value;

      // 채팅방 ID 유효성 검증 API 호출
      fetch(`/api/v1/chats/validate/${chatRoomId}`)
        .then(response => response.json())
        .then(data => {
          if(!data.data.valid) {
            // 채팅방 id가 유효하지 않을 때 오류 표시
            alert('존재하지 않은 채팅방 ID 입니다. 다시 확인해주세요.');
            console.log("존재하지 않은 채팅방 ID 입니다. 다시 확인해주세요.");
          } else {
            console.log("채팅방 ID 유효성 검증 성공");
          }
        })
      .catch(error => {
        console.error("채팅방 ID 유효성 API 호출 실패: " + error);
        alert('채팅방 ID 유효성 검증 실패. 서버 오류를 확인해주세요.');
      });

      // 채팅방에 해당하는 userId 유효성 검증 & 발신자 nickname API 호출
      fetch(`/api/v1/chats/validate/${chatRoomId}/${senderId}`)
        .then(response => response.json())
        .then(data => {
          if(!data.data.valid) {
            // 해당 chatRoomId의 userId가 유효하지 않을 때 오류 표시
            console.log("해당 채팅방의 사용자가 아닙니다. 다시 확인해주세요.");
            alert('해당 채팅방의 사용자가 아닙니다. 다시 확인해주세요.');
          } else {
            console.log("채팅방 ID에 해당하는 senderId 유효성 검증 성공");
          }
        })
      .catch(error => {
        console.error("senderId 유효성 검증 API 호출 실패: " + error);
        alert('채팅방의 사용자 ID 유효성 검증 실패. 서버 오류를 확인해주세요.');
      });

      // 채팅방에 해당하는 수신자(유저)닉네임이 채팅방 참여자인지 유효성 검증 API 호출
      fetch(`/api/v1/chats/validate/nickname/${receiverNickname}`)
        .then(response => response.json())
        .then(data => {
          if (data.data.receiverId !== null) {
            console.log("receiverNickname 유효성 검증 성공");
            receiverId = data.data.receiverId;
            console.log("[수신자 ID] receiverId=" + receiverId);
            console.log("[수신자 닉네임] receiverNickname=" + receiverNickname);

            // 채팅방 id과 userId가 유효성 검증 성공하면 webSocket 연결(쿠키 senderId 추출안되서 쿼리 파라미터로 대체)
            document.cookie = "senderId=" + senderId;
            // 소켓 연결 시, 쿼리 파리미터로 senderId 전달
            const socket = new SockJS('/ws-stomp?senderId=' + senderId);
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
              isConnected = true;
              console.log('소켓 Connected: ' + frame);

              // connect 엔드포인트로 메시지 전송하여 Redis 저장
              stompClient.send("/app/chat/connect/" + chatRoomId + "/" + senderId, {},
                senderId + "님이 입장하였습니다."
              );

              // connect 에서 오류 메시지 구독
              stompClient.subscribe('/topic/chat/errors/' + senderId, function (message) {
                alert(message.body);
                isConnected = false;
                console.log("소켓 Disconnected");
                stompClient.disconnect();
              });

              // 재접속 시 MongoDB 메시지 조회 API 호출
              // fetch PageImpl JSON 응답
              fetch(`/api/v1/chats/message/page/${chatRoomId}/${senderId}`)
              .then(response => response.json())
              .then(messages => {
                if(messages) {
                  messages.content.forEach(message => {
                    showMessage(message);
                  });
                } else {
                  console.error("서버 응답 값이 없습니다.");
                  alert("서버 응답이 비어있어 이전 메시지 불러오기 실패했습니다.");
                }
              })
              // TODO: 이전 메시지 내역이 없는 경우는 error alert 표시안되게 처리!
              .catch(error => {
                console.error("MongoDB 메시지 조회 실패: " + error);
                alert("MongoDB 메시지 조회 실패로 이전 메시지 불러오기 실패했습니다.");
              });

              // 실시간 채팅 메시지 전송 구독
              stompClient.subscribe('/topic/chat/' + chatRoomId, function (message) {
                showMessage((JSON.parse(message.body)));
              });

              // 처음 채팅방 입장 메시지 구독
              stompClient.subscribe('/topic/chat/enter/' + chatRoomId, function (message) {
                showMessage(JSON.parse(message.body));
              });
            }, function (error) {
              console.error("소켓 Connection error: ", error);
              alert('채팅방 연결 종료 및 실패하였습니다. 서버 오류를 확인해주세요.');
            });
          } else {
            // 수신자(유저)닉네임이 채팅방 참여자인지 유효하지 않을 때 오류 표시
            console.log("receiverNickname 유효성 검증하여 receiverId가 null 입니다.");
            alert('receiverNickname 유효성 검증하여 receiverId가 null 입니다. 다시 확인해주세요.');
          }
        })
      .catch(error => {
        console.error("수신자 닉네임 유효성 API 호출 실패: " + error);
        alert('수신자 닉네임 유효성 검증 실패. 서버 오류를 확인해주세요.');
      });
    }

    function disconnect() {
      if (stompClient !== null) {
        // 연결 중단 시, redis 삭제 API 호출
        fetch(`/api/v1/chats/redis/delete/${chatRoomId}/${senderId}`)
          .then(response => response.json())
          .then(data => {
            if(data.data) {
              // Redis 캐시 삭제 성공
              console.log("소켓 Disconnected");
            } else {
              console.log(chatRoomId + ":" + senderId + "로 저장된 cacheKey가 없습니다.");
            }
            isConnected = false;
            alert('채팅방 연결 종료하였습니다. 다시 연결해주세요!');
            stompClient.disconnect();
          })
          .catch(error => {
            console.error("API 호출 실패: " + error);
            alert('Redis 캐시 삭제 실패');
          });
      }
    }

    // 메시지 전송 함수
    function sendMessage() {
      // 웹소켓 연결 시에만 메시지 전송 가능
      if(isConnected) {
        const senderId = parseInt(document.getElementById('senderId').value); // 문자열을 숫자로 변환
        const message = document.getElementById('message').value;
        stompClient.send("/app/chat/" + chatRoomId, {}, JSON.stringify({ // messageMapping 경로 사용
          'chatRoomId': chatRoomId,
          'senderId': senderId,
          'receiverId' : receiverId,
          'receiverNickname' : receiverNickname,
          'messageContent': message
        }), {}, function (error) {
          console.error("메시지 전송 실패: " + error);
          alert("메시지 전송 실패: " + error.header.error);
        });
        // 메시지 전송 후, 입력 필드 초기화
        document.getElementById('message').value = '';
      } else {
        console.log("웹소켓 연결이 중단되어 메시지 전송이 불가");
        alert("웹소켓 연결이 중단되어 메시지 전송이 불가합니다. ");
      }
    }

    // 메시지 표시
    function showMessage(message) {
      const messages = document.getElementById('messages');
      const p = document.createElement('p');
      if(message.connectionType === "ENTER") {
        // 첫 입장 메시지 형식
        p.textContent = message.messageContent;
      } else if(message.connectionType === "CHAT") {
        // 채팅 메시지 형식
        p.textContent = message.senderId + ': ' + message.messageContent
            + ' - ' + message.sentAt;
      } else {
        // TODO: 퇴장 시 메시지 처리 예정
        p.textContent = message.messageContent;
      }
      messages.appendChild(p);
    }
  </script>
</head>
<body>
<div>
  <label>ChatRoom ID:</label>
  <input type="text" id="chatRoomId" value="f38106f7-8fe7-4351-8eaf-199525b67e9a" />
</div>
<div>
  <label>SenderId(발송자 ID) :</label>
  <input type="text" id="senderId" value="1L" />
</div>
<div>
  <label>Receiver Nickname(상대방/수신자 닉네임) :</label>
  <input type="text" id="receiverNickname" value="nickname1" />
</div>
<div>
  <label>Message:</label>
  <input type="text" id="message" />
</div>
<button onclick="connect()">Connect</button>
<button onclick="disconnect()">Disconnect</button>
<button onclick="sendMessage()">Send</button>
<div id="messages"></div>
</body>
</html>